<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Quản Lý Doanh Thu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Include CSS files here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-djU8Z3EsSkX8i0TcG5EIjUvl45eUdW9CjNEEdT6tZ7dM4jlaD9HjcF94gMnHzu+MfSzAr/Jux70dcGsLvDpKLw=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin/style.css}">
    <link rel="stylesheet" th:href="@{https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Roboto', sans-serif;
        }
        h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6
        {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
<div class="container-scroller">
    <th:block th:replace="~{layoutAdmin::header}"></th:block>
    <div class="container-fluid page-body-wrapper" style="padding-top:70px">
        <th:block th:replace="~{layoutAdmin::menu}"></th:block>
        <!-- Define content specific to this page -->
        <div class="main-panel">
            <div class="content-wrapper">
                <section layout:fragment="content">
                    <h3 style="text-align: center">QUẢN LÝ DOANH THU</h3>
                    <form action="#" th:action="@{/admin/revenue/search}" method="post">
                        <div class="row">
                            <div class="col-lg-3 ">
                                <label for="startDate">Từ ngày:</label>
                                <input type="datetime-local"  class="form-control" id="startDate" name="startDate" required>
                            </div>
                            <div class="col-lg-3 ">
                                <label for="endDate">Đến ngày:</label>
                                <input type="datetime-local"  class="form-control" id="endDate" name="endDate" required>
                            </div>
                            <div class="col-lg-3 ">
                                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                            </div>
                            <div class="col-lg-3 ">
                                <a th:if="${startDate == null || endDate == null}" th:href="@{/admin/revenue/export}" class="btn btn-danger mb-2">Xuất Tổng Excel</a>
                            </div>
                        </div>
                    </form>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Người đặt</th>
                            <th>Email</th>
                            <th>SĐT</th>
                            <th>Tổng tiền</th>
                            <th>Ngày đặt</th>
                            <th>Trạng thái</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order, iterStat : ${orders}">
                            <td th:text="${iterStat.index + 1}"></td>
                            <td th:text="${order.user.username}"></td>
                            <td th:text="${order.user.email}"></td>
                            <td th:text="${order.user.phone}"></td>
                            <td th:text="${order.getTotalFormatted}"></td>
                            <td th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
                            <td th:switch="${order.status}">
                                <span th:case="2">Chờ cửa hàng xác nhận</span>
                                <span th:case="3">Đang vận chuyển</span>
                                <span th:case="4">Đã hoàn thành</span>
                                <span th:case="5">Đã hủy</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <a th:if="${startDate != null && endDate != null}" th:href="@{/admin/revenue/export(startDate=${startDate}, endDate=${endDate})}">Xuất Excel Theo Ngày</a>
                </section>
            </div>
            <th:block th:replace="~{layoutAdmin::footer}"></th:block>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Include JS files at the end of the body -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/admin/vendor.bundle.base.js"></script>
<script src="/static/js/admin/off-canvas.js"></script>
<script src="/static/js/admin/hoverable-collapse.js"></script>
<script src="/static/js/admin/misc.js"></script>
<script src="/static/js/admin/chart.js"></script>
<script src="/static/js/admin/dashboard.js"></script>
<script src="/static/js/admin/todolist.js"></script>
<script src="/static/js/admin/jquery.cookie.js"></script>
</body>
</html>
