<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Forgot Password</title>
    <link rel="icon" href="/static/ava/logofavicon.png">
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row flex-grow">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left p-5 d-flex justify-content-center align-items-center flex-column vh-70" style="border: 3px solid #000; border-radius: 10px;">
                        <div class="brand-logo">
                            <img th:src="@{/static/ava/istockphoto-693203680-612x612.png}" alt="Logo">
                            <img th:src="@{/static/ava/istockphoto-693203680-612x612 (1).png}" alt="Logo">
                        </div>
                        <h1>Forgot Password</h1>
                        <h4>Quên mật khẩu?</h4>
                        <h6 class="font-weight-light">Nhập email của bạn để nhận mã đặt lại mật khẩu</h6>
                        <form class="pt-3" method="post" th:action="@{/forgot-password}">
                            <div th:if="${errorMessage}" class="alert alert-danger" style="text-align: center; background: #FF3333; color: #fff" th:text="${errorMessage}">
                            </div>
                            <div th:if="${successMessage}" class="alert alert-success" style="text-align: center; background: #00FF33; color: #000" th:text="${successMessage}">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" name="email" placeholder="Email" required style="border: 2px solid #000; border-radius: 8px">
                            </div>
                            <div class="mt-3 d-flex justify-content-center">
                                <button style="background: #00FF33; align-items: center; justify-content: center" type="submit" class="btn btn-lg font-weight-medium auth-form-btn">Submit</button>
                            </div>
                            <div class="mt-3">
                                <a th:href="@{/login}" class="btn btn-outline-info  d-flex justify-content-center">Quay lại đăng nhập</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

</body>
</html>
